img{
	height: 200px;
	width: 150px;
}

#cartes{
	height: 200px;
	width: 270px;
}

#cadre_player{
	clear:both;
	border: 1px solid gray;
	height: 200px;
	width: 900px;
	position: absolute;
	left: 27%;
	top: 60%;
}

#cadre_bank{
	clear:both;
	border: 1px solid gray;
	height: 200px;
	width: 900px;
	position: absolute;
	left: 27%;
	top: 20%;
}

#result{
	height: 200px;
	width: 900px;
	position: absolute;
	left: 50%;
	top: 51%;
}