/* Add a gray background color with some padding */
body {
}

/* Header/Blog Title */
.header {
}

img{
    height: 120;
    width: 80;
}

div.imagez {
    height: 120;
    width: 80;
}

/* Footer */
.footer {
}